<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">消息队列之任务详情</h1>
</div>
<div class="wrapper-md" ng-controller="CanghaiMQJobInfoCtrl">

    <div class="panel panel-default">
        <table class="table table-bordered table-striped">
            <tr>
                <th style="width: 200px;">job id: </th>
                <td>__job.id__</td></tr>
            <tr>
                <th>描述: </th>
                <td>__job.description__</td></tr>
            <tr>
                <th>状态: </th>
                <td>
                    <p class="form-control-static">
                        <span class="label label-info"     ng-if="job.status == 'queued'">__job.status__</span>
                        <span class="label label-info"    ng-if="job.status == 'deferred'">__job.status__</span>
                        <span class="label label-warning"    ng-if="job.status == 'started'">__job.status__</span>
                        <span class="label label-success"    ng-if="job.status == 'finished'">__job.status__</span>
                        <span class="label label-danger"    ng-if="job.status == 'failed'">__job.status__</span>
                    </p>
                </td></tr>
            <tr>
                <th>队列名称: </th>
                <td>__job.origin__</td></tr>
            <tr>
                <th>创建时间: </th>
                <td>__job.created_at__</td></tr>
            <tr>
                <th>进入队列时间: </th>
                <td>__job.enqueued_at__</td></tr>
            <tr>
                <th>执行开始时间: </th>
                <td>__job.started_at__</td></tr>
            <tr>
                <th>执行结束时间: </th>
                <td>__job.ended_at__</td></tr>
            <tr>
                <th>执行结果: </th>
                <td>__job.result__</td></tr>
            <tr>
                <th>执行信息: </th>
                <td>__job.exc_info__</td></tr>
        </table>
    </div>
</div>
