<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">消息队列之消息列表</h1>
</div>
<div class="wrapper-md" ng-controller="CanghaiMQMsgsCtrl">
    <h3>Queues 任务列表</h3>
    <p class="intro">
        下面的列表包含队列默认情况下的所有排队任务，按时间排序（最早的在顶部）。
    </p>

    <div class="panel panel-default">
        <table class="table table-bordered table-striped">
            <tr>
                <th style="width: 200px;">队列名称: </th>
                <td>__queueName__</td></tr>
            <tr>
                <th>任务状态:</th>
                <td>__registryName__</td></tr>
            <tr>
                <th>操作:</th>
                <td><button class="btn btn-danger" ng-click="emptyQueue()">清空</button></td></tr>
        </table>
    </div>
    <div class="panel panel-default">
        <table class="table table-striped m-b-none">
            <thead class="thead-light">
                <tr>
                    <th>id</th>
                    <th width="600px">消息内容</th>
                    <th>描述</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="msg in msgs">
                    <td><a class="text-info" ui-sref="app.canghai.mq_msginfo({msg_id: msg.id})">__msg.id__</a></td>
                    <td>__msg.msg_data__</td>
                    <td>__msg.description__</td>
                    <td>__msg.created_at__</td>
                    <td><button class="btn btn-info" ng-click="deleteMsg(msg.id)">删除</button></td>
                </tr>
            </tbody>
        </table>
        <pagination boundary-links="true" boundary-link-numbers="true" total-items="totalItems" ng-model="currentPage" max-size="maxSize" items-per-page="itemsPerPage" ng-change="pageChanged()" previous-text="上一页" next-text="下一页" first-text="第一页" last-text="第末页"></pagination>
    </div>
</div>
